@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,700';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  background-color: #e6e6ff;
  font-family: "Nunito", sans-serif;
}

h5 {
  color: gray;
}

/* CHECKBOXES */
.multisel label {
  cursor: pointer;
  color: #383A3F;
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.multisel label input[type="checkbox"] + .label-text:hover:before {
  color: #fe4365;
}
.multisel label input[type="checkbox"] {
  display: none;
}
.multisel label input[type="checkbox"] + .label-text:before {
  content: "\f096";
  color: #dddfe6;
  font-family: "fontAwesome";
  line-height: 1;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}
.multisel label input[type="checkbox"]:checked + .label-text:before {
  content: "\f14a";
  color: #fe4365;
  animation: tick 150ms ease-in;
}
.multisel label input[type="checkbox"]:disabled + .label-text:before {
  content: "\f0c8";
  color: #dddfe6;
}

@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* RATINGS */
.rating {
  border: none;
}

.rating > label {
  color: #90A0A3;
  text-align: center;
  margin: 0 8px;
}

.rating > input + label:before {
  margin: 0px;
  font-size: 1.2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #F79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FECE31;
}